@import '../../Style/public.scss';

.center-box{
  display : flex;
  flex-direction : column;
  width : 100%;
  height : calc(100vh - 100px);
}
.input{
  border : none;
}
.login-btn-box{
  width : 450px;
}
.login-btn,.regist-btn{
  width : 300px;
  margin-top : 30px;
}
.regist-btn{
  color : $black !important;
  background-color : #eee !important;
}