@import "../../Style/public.scss";

.cart-container{
  position : fixed;
  right : 50px;
  bottom : 30px;
  .cart-close{
    .close-btn{
      display : flex;
      flex-direction : column;
      margin-right : 10px;
      background-color : #fff !important;
      border : 0;
      img{
        max-width : 56.3px;
        height : auto;
      }
    }
  }
  .cart-expand{
    box-sizing : border-box; 
    padding : 15px 0 20px;
    background-color : #fff !important;
    box-shadow : 0 2px 8px 0 hsla(0,0%,57.3%,.5);
    transition :height 1s linear,width 0.3s ease  ;
    .cart-pay{
      align-items : center; 
      height : 100%;
      // padding : 0 20px;
      overflow-y : hidden;
      border-right : 2px solid #ccc;
      box-shadow : none;
      transition : width 0.3s ease;
      img{
        width : 200px;
        height : 200px;
      }
      .payment-box{
        width : 320px;
        margin : 15px 0 10px;
        .payment-control{  
          box-sizing : border-box;
          width : 320px !important;
          height : 30px;
          line-height : 30px;    
          text-align : center;
          border : 1px solid rgb(175, 175, 175);
          border-radius : 25px;
          outline : 0px !important;
          img{
            width : 55px;
            height : 30px;
          }
        }
        .payment-methods{
          width : 320px;
          padding : 5px 0;
          margin-top : 10px;
          border-radius : 5px;
          box-shadow : 0px 2px 2px hsla(0,0%,57.3%,.5);
          .payment{
            align-items : center;
            width : 320px;
            height : 50px;
            div{
              width : 80%;
              height : 30px;
              border : 1px solid rgb(175, 175, 175);
              border-radius : 20px;
              img{
                width : 50px;
                height : 30px;
              }
            }
          }
          .payment:hover{
            background-color :rgba(175, 175, 175,0.3);
          }
        }
      }
    }
    .cart-details{
      justify-content : center;
      width : 320px;
      min-height : 50px;
      padding : 0 20px;
      box-shadow : none;
      transition : height 1s linear;
      .details-main{
        width : 280px;
        overflow : auto;
        text-align : center;

        .chooseCart{
          height : 16px;
          margin-bottom : 16px;
          font-family : PingFangSC;
          font-size : 16px;
          font-style : normal;
          font-weight : 400;
          font-stretch : normal;
          line-height : 16px;
          color : #afafaf;
          text-align : center;
          letter-spacing : normal;
        }
      }
      .details-ft{
        .total-price{
          padding-top : 10px;
          padding-bottom : 15px;
          font-size : 24px;
          line-height : 1.5;
          color : #202020;
          border-top : 1px solid #ccc;
        }
        button{
          width : 100%;
          height : 40px;
          padding : 0 20px;
          font-family : PingFangSC-Regular;
          font-size : 16px;
          line-height : 1.5;
          color : #fff;
          cursor : pointer;
          background-color : #202020;
          border : 0;
          border-radius : 25px;
          transition : all .3s linear;
        }
        button:hover{
          background-color :  #0d9e65 !important;
        }
      }
    }
  }
}
