@import '../../Style/public.scss';

button {
  cursor : pointer;
}

.header {
  position : relative;
  top : 53px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  height : $header-height;
  .vertical {
    .logo{
      height : $logo-height;
      cursor : pointer;
    }
  }
  .profile-logo {
    height : 60px;
    cursor : pointer;
  }
  .profile-drop-down {
    position : absolute;
    top : 70px;
    right : 30px;
    z-index : 1000;
    box-sizing : border-box;
    width : 220px;
    padding : 22px 25px;
    background-color : #fff;
    border-radius : 5px;
    box-shadow : 0 0 8px 0 hsla(0,0%,67.8%,.5);
    .order-btn {
      width : 170px;
      height : 40px;
      font-size : 14px;
      color : #fff;
      background-color : #202020;
      border : 1px solid #afafaf;
      border-radius : 25px;
    }
    .language-button {
      position : relative;
      height : 40px;
      margin-top : 20px;
      button {
        position : absolute;
        width : 40px;
        height : 40px;
        font-size : 14px;
        background-color : #fff;
        border : 1px solid #202020;
        border-radius : 45px;
      }
      #on-choose {
        color : #fff;
        background-color : #202020;
      }
    }
    .language-button button:first-child {
      left : 0;
    }
    .language-button button:last-child {
      right : 0;
    }
    .profile-button {
      width : 170px;
      height : 40px;
      font-size : 14px;
      color : #797979;
      background-color : #fff;
      border : 1px solid #afafaf;
      border-radius : 25px;
    }
    .log-out {
      margin-top : 30px;
    }
  }
}
