@import '../../Style/public.scss';
.restBox-container{
  @extend .container-row;
  margin-top : 100px;
}
.rest-tab{
  @extend .h1;
  position : relative;
  width : 30%;
  height : auto;
  margin-top : 30px;
  margin-left : 30px;
  .under{
    width : 40px;
    height : 8px;
    margin-top : 3px;
    background-color : #202020;
  }
}
.restItem{
  display : grid;
  grid-template-columns : 50% 50%;
  grid-auto-flow : row dense;
  width : 70%;
  column-count : 2;
}
